.location-wrapper
  .location
    %h1 Browsing Toronto, ON, Canada Businesses
%main.business-list
  %ul
    - @businesses.each.with_index do |business, idx|
      %li
        .title
          = link_to business_path(business) do
            = image_tag "/images/businesses/#{business.cover_image}.jpg", class: "biz-img"
          .title-details
            %h2= "#{list_number(idx)}."
            = link_to business.name, business_path(business)
            .rating
              %div.stars{ class: "i-stars--regular-#{business.star_rating}" }
              %p= "#{business.reviews.count} reviews"
            .price-category
              - if business.price_range
                %span= "$" * business.price_range
              %a Caribbean
              %span , 
              %a Comfort Food
              %span , 
              %a Breakfast & Brunch
          .address-info
            %p
              = business.community
              %br
              %br
              = business.street_address
              %br
              = "Toronto, ON #{business.postal_code}"
              %br
              Canada
              %br
              = business.phone_number
        %div.review
          = image_tag "/images/general/user_60_square.png"
          - if business.reviews.first
            %p 
              = business.reviews.first.content.slice(0, 180) + "..."
              = link_to "read more", business_path(business.id)
          - else
            %p
              No reviews yet...
              = link_to "create one", business_path(business.id)
  .pagination
    %span= "Page #{@page + 1} of #{Business.total_pages + 1}"
    %ul
      - if @page > 0
        %li 
          = link_to "< Previous", businesses_path(p: @page)
      - Business.pagination_pages.times do |n|
        %li{ class: current_page_class(n) }
          = link_to pagination_number(n), businesses_path(p: pagination_number(n))
      - if Business.total_pages > @page
        %li
          = link_to "Next >", businesses_path( p: @page + 2)


