%div.location-wrapper
  %div.location
    %h1 Browsing Toronto, ON, Canada Businesses
%main.business-list
  %ul
    - @businesses.each.with_index do |business, idx|
      %li
        %div.title
          %img.biz-img{ src: "images/businesses/#{business.cover_image}.jpg" }
          %div.title-details
            %h2= "#{idx + 1}."
            = link_to business.name, nil
            %div.rating
              %div.stars.i-stars--regular-4
              %p= "29 reviews"
            %div.price-category
              %span= "$" * business.price_range
              %a Caribbean
              %span , 
              %a Comfort Food
              %span , 
              %a Breakfast & Brunch
          %div.address-info
            %p
              = business.community
              %br
              %br
              = business.street_address
              %br
              = "Toronto, ON #{business.postal_code}"
              %br
              Canada
              %br
              = business.phone_number
        %div.review
          %img{ src: "images/general/user_60_square.png" }
          %p 
            While on a quick visit to Toronto, we wanted to patronize a breakfast place that offered a neighborhood atmosphere. If you're not familiar with the place (and are totally reliant on...
            %a read more