.container
  %section.sign-up
    %div
      %h1 Register your business on Yelp
      %h3 Connect with your customers!
      = form_for @business do |f|
        = f.text_field :name, placeholder: "Business Name"
        = f.text_field :community, placeholder: "Neighborhood"
        = f.text_field :street_address, placeholder: "Street Address"
        = f.text_field :postal_code, placeholder: "Postal Code"
        = f.telephone_field :phone_number, placeholder: "Phone Number"
        = text_field_tag 'tags', nil, placeholder: "Categories:  Italian, Burgers, Thai..."
        .form-group
          = f.label :price_range, "Price Category", placeholder: 'A'
          = f.select :price_range, { '$' => 1, '$$' => 2, '$$$' => 3, '$$$$' => 4, '$$$$$' => 5 }
        = f.submit value: "Register Business"
  %aside
    = image_tag "general/signup_illustration.png"