.biz-show
  .show-title.clearfix
    = image_tag "businesses/#{@business.cover_image}.jpg"
    .show-details
      %h1= @business.name
      .rating
        .stars{ class: "i-stars--large-#{@business.star_rating}" }
        %p= "#{@business.reviews.count} reviews"
      .price-category
        - if @business.price_range
          %span= "$" * @business.price_range
        - @business.tags.each do |tag|
          = link_to tag.name, search_businesses_path(query: tag.name)
          - unless @business.tags[-1] == tag
            %span ,
    .address-info
      %p
        = link_to @business.community, search_businesses_path(query: @business.community)
        %br
        %br
        = @business.street_address
        %br
        = "Toronto, ON #{@business.postal_code}"
        %br
        Canada
        %br
        = @business.phone_number
  .reviews
    %h2= "Reviews for #{@business.name}"
    - if logged_in?
      .review-form.clearfix
        .user-review
          = image_tag"general/user_60_square.png"
          %ul.user-review-info
            %li
              = link_to current_user.display_name, user_path(current_user.id)
            %li
              %span.star-icon
              %span= "#{current_user.reviews.count} reviews"
        = form_for [@business, Review.new] do |f|
          = f.select :rating, options_for_select([5,4.5,4,3.5,3,2.5,2,1.5,1].map { |num| [pluralize(num, 'Star'), num] })
          = f.text_area :content, placeholder: "Enter your review here..."
          = f.submit value: "Post Review"
    %ul.review-list
      - @business.reviews.each do |review|
        %li
          .user-review
            = image_tag "general/user_60_square.png"
            %ul.user-review-info
              %li
                = link_to review.user.display_name, user_path(review.user.id)
              %li
                %span.star-icon
                %span= review.user.reviews.count
                %span reviews
          .review-item
            .stars{ class: "i-stars--regular-#{review.star_rating}" }
            %p= review.date
            %p.content= review.content