.container
  %section.sign-up
    %div
      %h1 Log In to Yelp
      %h3.log-in-q New to Yelp?
      = link_to "Sign up", register_path, class: "log-in-q"
      = form_tag sessions_path do
        = text_field_tag :email, nil, placeholder: "Email"
        = password_field_tag :password, nil, placeholder: "Password"
        = submit_tag "Log In"
  %aside
    = image_tag "general/signup_illustration.png"