%header.sign_up
  %h1
%div.container
  %section.sign-up
    %div
      %h1 Sign Up for Yelp
      %h3 Connect with great local businesses
      = form_for @user do |f|
        = f.text_field :first_name, placeholder: "First Name", class: "half"
        = f.text_field :last_name, placeholder: "Last Name", class: "half"
        = f.email_field :email, placeholder: "Email"
        = f.password_field :password, placeholder: "Password"
        = f.submit value: "Sign Up"
  %aside
    %img{ src: "images/general/signup_illustration.png"}