.profile-wrapper
  .profile-banner
  %main
    .user-profile-header.clearfix
      %img{src: "/images/general/user_large_square.png"}
      .user-profile-info
        %h1= @user.display_name
        %p
          %strong= @user.reviews.count
          Reviews
    .user-profile-reviews
      %h2 Reviews
      %ul
        - @user.reviews.each do |review|
          %li
            .review-business.clearfix
              %img.biz-img{src: "/images/businesses/#{review.business.cover_image}.jpg"}
              .review-business-info
                %h4
                  = link_to review.business.name, business_path(review.business.id)
                .price-category
                  %span= "$" * (review.business.price_range || 0)
                  - review.business.tags.each do |tag|
                    = link_to tag.name.titleize, search_businesses_path(query: tag.name)
                    - unless review.business.tags[-1] == tag
                      %span ,
                %p
                  = review.business.street_address
                  %br
                  = "Toronto, ON  #{review.business.postal_code}"
                  %br
                  Canada
            .review-item
              .stars{ class: "i-stars--regular-#{review.star_rating}" }
              %p= review.date
              %p.content= review.content