-if @header == :plain_banner
  %header.sign-up
    = link_to "", home_path
-else
  %header
    %div.banner
      %ul
        %li
          = link_to "", home_path, class: "logo"
        %li
          %form.search-bar
            %label{ for: "business" } Find
            %input{ type: "text", id: "business", placeholder: "burgers, barbers, spas, handymen..." }
            %label{ for: "place" } Near
            %input{ type: "text", id: "place", placeholder: "Toronto, ON" }
            %input{type: "submit", value: "Search"}
        - if logged_in?
          %li
            = link_to user_path(current_user.id), class: "user-profile-button" do
              TP
              %i.profile-button-logo
        - else
          %li
            = link_to "Sign Up", register_path, class: "sign-up-button"
    %nav.main-nav
      %ul
        %li
          = link_to "Businesses", businesses_path
        %li
          %a Nightlife
        %li
          %a Home Services
        %li.no-link
          %i .
        %li
          = link_to "Register a Business", new_business_path
        %li
          %a Events
        %li
          %a Talk
        %li
          - if logged_in?
            = link_to "Log Out", log_out_path
          - else
            = link_to "Log In", log_in_path