-if @header == :plain_banner
  %header.sign-up
    = link_to "", home_path
-else
  %header
    %div.banner
      %ul
        %li
          = link_to "", home_path, class: "logo"
        %li
          = form_tag search_businesses_path, method: 'get', class: 'search-bar' do
            = label_tag :query, "Find"
            = text_field_tag :query, nil, placeholder: "burgers, barbers, spas, handymen..."
            = label_tag :location, "Near"
            = text_field_tag :location, nil, placeholder: "Toronto, ON"
            = submit_tag "Search"
        - if logged_in?
          %li
            = link_to user_path(current_user.id), class: "user-profile-button" do
              TP
              %i.profile-button-logo
        - else
          %li
            = link_to "Sign Up", register_path, class: "sign-up-button"
    %nav.main-nav
      %ul
        %li
          = link_to "Businesses", businesses_path
        %li
          %a Nightlife
        %li
          %a Home Services
        %li.no-link
          %i .
        %li
          = link_to "Register a Business", new_business_path
        %li
          %a Events
        %li
          %a Talk
        %li
          - if logged_in?
            = link_to "Log Out", log_out_path
          - else
            = link_to "Log In", log_in_path