%section.home_main{ class: @home_image }
  %div
    %nav.home-nav
      %ul.nav-left
        - if logged_in?
          %li
            = link_to "Register your Business", new_business_path
        %li
          = link_to "Find a Business", businesses_path
      %ul.nav-right
        - if logged_in?
          %li
            = link_to "Log Out", log_out_path
        - else
          %li
            = link_to "Log In", log_in_path
          %li
            = link_to "Sign Up", register_path, class: "sign-up-button"
    %h1.logo
    = form_tag search_businesses_path, method: 'get', class: 'search-bar' do
      = label_tag :query, "Find"
      = text_field_tag :query, nil, placeholder: "burgers, barbers, spas, handymen..."
      = label_tag :location, "Near"
      = text_field_tag :location, nil, placeholder: "Toronto, ON"
      = submit_tag "Search"